<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  
    <div class="row">
        <div class="col">
        <h2>What is this?</h2>
        <p>This is a simple CRUD application built with Node.js, Express.js, and MongoDB.</p>
        <p>It is a simple customer management system that allows you to add, edit, and delete customers.</p>
        <p>It also has a search feature that allows you to search for customers by name, email, or telephone.</p>
        </div>
        <div class="col">
        <h2>Why did you build this?</h2>
        <p>I built this application to learn how to build a CRUD application with Node.js, Express.js, and MongoDB.</p>
        
        </div>